
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 20px;
    width: 300px;
    flex: none;
    background-color: #2e3238;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    height: fit-content;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }