.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.header_mobile {
  display: none;
}

.header_mobile img {
  width: 25px;
}

.header_mobile .menu_btn {
  cursor: pointer;
}

.header_mobile .menu_btn i {
  font-size: 20px;
  color: #E0E0E0;
}

.sidebar {
  flex-shrink: 0;
  height: 100vh;
  overflow-y: auto;
}

.main_container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main_content {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #1A1A1A;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .header_mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }

  .header_mobile nav {
    background-color: #1A1A1A;
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    transform: translate(-100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    z-index: 1000;
    transition: 0.4s ease-in;
  }

  .header_mobile nav.active {
    transform: translateX(0);
  }

  .header_mobile nav.inactive {
    transform: translateX(-100%);
  }

  .header_mobile nav .link_box {
    width: 70%;
  }

  .header_mobile nav .link {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .sidebar {
    display: none;
  }
}
