.container {
  width: 100%;
  height: 100vh;
}

.main_content {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  max-width: 1500px;
  min-height: calc(100vh - 70px);
  margin: 0 auto;
}

.main_content .bg_left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  padding: 20px;
  position: relative;
  border-radius: 10px;
  background-color: #242424;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.main_content .bg_left .infos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.main_content .bg_left .delete_btn {
  margin-top: 30px;
}

.main_content .bg_right {
  width: 40%;
  padding: 20px 40px;
  border-radius: 10px;
  background-color: #242424;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.main_content .bg_right .form_title {
  color: #E0E0E0;
  text-align: center;
  font-size: 22px;
  letter-spacing: 0.5px;
}

.main_content .bg_right form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .main_content {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    padding-bottom: 100px;
    height: fit-content;
  }

  .main_content .bg_left,
  .main_content .bg_right {
    width: 100%;
  }

  .main_content .bg_right {
    padding: 20px;
  }

  .main_content .bg_right .form_title {
    font-size: 18px;
  }

  .main_content .bg_left .infos {
    display: flex;
    flex-direction: column;
  }
}