/* ModalOverlay: escurece o fundo e centraliza o modal */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Container principal do Modal */
.container {
  background-color: rgb(31, 31, 31);
  padding: 30px;
  height: 800px;
  width: 1200px; /* largura do modal*/
  border-radius: 12px;
  display: flex;
  flex-direction: row; 
  align-items: flex-start;
  position: relative;
  gap: 30px; /* Adicionado para espacamento */
}

/* Botão de fechar */
.closeButton {
  position: absolute;
  top: 32px;
  left: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.closeButton svg {
  fill: white;
}

/* Área da esquerda - Formulário */
.formSection {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.title {
  color: white;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 1px;
}

/* Formulário */
.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  width: 300px;;
}

.formGroup label {
  text-align: left;
  color: white;
  margin-bottom: 20px;
  font-size: 20px;
}

input,
select {
  padding: 12px;
  font-size: 15px;
  border: 1px solid #302f2f;
  border-radius: 6px;
  background: #111;
  color: rgb(136, 131, 131);
}

input::placeholder {
  color: #aaa;
}

/* Botão de Submissão */
.submitButton {
  margin-top: 40px;
  padding: 15px;
  background-color: #fff7c5;
  color: #d4a017;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  
}

.submitButton:hover {
  background-color: #f5e7b3;
}

/* Área da direita - Logo */
.logoArea {
  flex: 0.8;
  display: flex;
  margin-top: 250px;
  margin-left: 50px;
  margin-right: 50px;
  align-items: center;
  justify-content: center;
}

.logoArea img {
  max-width: 200px;
  height: auto;
}
